.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}

.checkboxList {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 10px;

}

.bold {
    font-size: 1rem;
    font-weight: bold;
}

.gameConfig {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.gameConfInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.slds-card__header-title {
    height: 32px;
    display: flex;
    align-items: center;
}

.gameSettingsContainer {

}